body {
    margin: 0 4rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color:rgb(150, 38, 38);
}

.post-container {
    padding: 1.5rem 0;
}

footer {
    padding-top: 2rem;
    text-align: center;
}